@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: white;
    color: black;
    box-sizing: border-box;
}

.cabecalho {
    padding: 1.5%;
    background-color: rgb(236, 236, 236);
}

.cabecalho_menu {
    display: flex;
    align-items: center;
    gap: 80px;
}

.cabecalho_menu_link{
    font-size: 4vh;
    font-family: "Krona One", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.apresentacao{
    padding: 8% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.fotoPerfil { 
    width: 480px;
    height: 560px;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    font-size: 5vh;
    font-family: "Krona One", sans-serif;
}

.destaqueTitulo {
    color: #2ee600;
}

.apresentacao_conteudo_texto{
    font-size: 4vh;
    font-family: "Montserrat", sans-serif;
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 4vh;
}

.apresentacao_links_link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 1px solid #2ee600;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 4vh;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000;
    font-family: "Montserrat", sans-serif;
}

.apresentacao_links_link:hover {
    background-color: #272727;
}

.rodape{
    color: #000;
    background-color: rgb(236, 236, 236);
    padding: 24px;
    text-align: center;
    font-size: 3vh;
    font-family: "Montserrat", sans-serif;
}
