@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    background: url('../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* 100% da altura da viewport */
    opacity: 0.96;
    display: flex;
    flex-direction: column;
    gap: 45vh;
}

.cabecalho {
    padding: 1% 15% 0 15%;
}

.cabecalho_menu {
    display: flex;
    justify-content: space-between;
}

.cabecalho_sub_menu {
    display: flex;
    align-items: center;
    gap: 41px;
}

.cabecalho_menu_link {
    font-size: 2.5vh;
    font-weight: 400;
    text-decoration: none;
    color: #DE8342;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

.cabecalho_menu_link::after {
    content: "";
    position: absolute;
    background-color: #DE8342;
    height: 4px;
    border-radius: 70px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.cabecalho_menu_link:hover {
    color: #ffffff;
    transition: 0.3s;
}

.cabecalho_menu_link:hover::after {
    width: 100%;
}
    
.cabecalho_menu_icons {
    display: flex;
    gap: 3vh;
    align-items: center;
    text-decoration: none;
}

.cabecalho_apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    font-size: 5vh;
}

.sobre_mim {
    
}

.sobre_mim_texto {
    
}

.fotoPerfil {
    
}

.rodape{
    color: #000;
    background-color: rgb(236, 236, 236);
    padding: 24px;
    text-align: center;
    font-size: 3vh;
}
